<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @water_quality.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @water_quality.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @water_quality.address %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @water_quality.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @water_quality.address2 %>
</p>

<p>
  <strong>Place:</strong>
  <%= @water_quality.place %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @water_quality.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @water_quality.longitude %>
</p>

<p>
  <strong>Test year:</strong>
  <%= @water_quality.test_year %>
</p>

<p>
  <strong>Source:</strong>
  <%= @water_quality.source %>
</p>

<p>
  <strong>Source type:</strong>
  <%= @water_quality.source_type %>
</p>

<p>
  <strong>Source owner:</strong>
  <%= @water_quality.source_owner %>
</p>

<p>
  <strong>Color hazen unit:</strong>
  <%= @water_quality.color_hazen_unit %>
</p>

<p>
  <strong>Odor:</strong>
  <%= @water_quality.odor %>
</p>

<p>
  <strong>Taste:</strong>
  <%= @water_quality.taste %>
</p>

<p>
  <strong>Turbidity:</strong>
  <%= @water_quality.turbidity %>
</p>

<p>
  <strong>Ph value:</strong>
  <%= @water_quality.ph_value %>
</p>

<p>
  <strong>Total hardness:</strong>
  <%= @water_quality.total_hardness %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @water_quality.iron %>
</p>

<p>
  <strong>Chloride:</strong>
  <%= @water_quality.chloride %>
</p>

<p>
  <strong>Residual free chlorine:</strong>
  <%= @water_quality.residual_free_chlorine %>
</p>

<p>
  <strong>Fluoride:</strong>
  <%= @water_quality.fluoride %>
</p>

<p>
  <strong>Total dissolved solids:</strong>
  <%= @water_quality.total_dissolved_solids %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @water_quality.calcium %>
</p>

<p>
  <strong>Magnesium:</strong>
  <%= @water_quality.magnesium %>
</p>

<p>
  <strong>Copper:</strong>
  <%= @water_quality.copper %>
</p>

<p>
  <strong>Manganese:</strong>
  <%= @water_quality.manganese %>
</p>

<p>
  <strong>Sulphate:</strong>
  <%= @water_quality.sulphate %>
</p>

<p>
  <strong>Nitrate:</strong>
  <%= @water_quality.nitrate %>
</p>

<p>
  <strong>Phenolic compounds:</strong>
  <%= @water_quality.phenolic_compounds %>
</p>

<p>
  <strong>Mercury:</strong>
  <%= @water_quality.mercury %>
</p>

<p>
  <strong>Cadmium:</strong>
  <%= @water_quality.cadmium %>
</p>

<p>
  <strong>Selenium:</strong>
  <%= @water_quality.selenium %>
</p>

<p>
  <strong>Arsenic:</strong>
  <%= @water_quality.arsenic %>
</p>

<p>
  <strong>Cyanide:</strong>
  <%= @water_quality.cyanide %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @water_quality.lead %>
</p>

<p>
  <strong>Zinc:</strong>
  <%= @water_quality.zinc %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @water_quality.sodium %>
</p>

<p>
  <strong>Potassium:</strong>
  <%= @water_quality.potassium %>
</p>

<p>
  <strong>Hexavalent chromium:</strong>
  <%= @water_quality.hexavalent_chromium %>
</p>

<p>
  <strong>Alkalinity:</strong>
  <%= @water_quality.alkalinity %>
</p>

<p>
  <strong>Pesticides:</strong>
  <%= @water_quality.pesticides %>
</p>

<p>
  <strong>Detergent:</strong>
  <%= @water_quality.detergent %>
</p>

<p>
  <strong>Mineral oil:</strong>
  <%= @water_quality.mineral_oil %>
</p>

<p>
  <strong>Electrical conductivity:</strong>
  <%= @water_quality.electrical_conductivity %>
</p>

<p>
  <strong>Dissolved oxygen:</strong>
  <%= @water_quality.dissolved_oxygen %>
</p>

<p>
  <strong>Biological oxygen demand:</strong>
  <%= @water_quality.biological_oxygen_demand %>
</p>

<p>
  <strong>Chemical oxygen demand:</strong>
  <%= @water_quality.chemical_oxygen_demand %>
</p>

<p>
  <strong>Coliform:</strong>
  <%= @water_quality.coliform %>
</p>

<%= link_to 'Edit', edit_water_quality_path(@water_quality) %> |
<%= link_to 'Back', water_qualities_path %>
