<h1>Listing manufacturers</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer Name</th>
      <th>Brand Name</th>
      <th>City</th>
      <th>State</th>
      <th>CML No</th>
      <th>Valid date</th>
      <th>Operative status</th>
      <th>Bottle 20liters</th>
      <th>Bottle 2liters</th>
      <th>Bottle 1liter</th>
      <th>Bottle 500ml</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td><%= manufacturer.manufacturer_name %></td>
        <td><%= manufacturer.brand_name %></td>
        <td><%= manufacturer.city %></td>
        <td><%= manufacturer.state %></td>
        <td><%= manufacturer.cml_no %></td>
        <td><%= manufacturer.valid_date%></td>
        <td><%= boolean_to_words(manufacturer.operative_status) %></td>
        <td><%= boolean_to_words(manufacturer.bottle_20liters) %></td>
        <td><%= boolean_to_words(manufacturer.bottle_2liters) %></td>
        <td><%= boolean_to_words(manufacturer.bottle_1liter) %></td>
        <td><%= boolean_to_words(manufacturer.bottle_500ml) %></td>
        <td><%= manufacturer.address %></td>
        <td><%= link_to 'Show', manufacturer %></td>
        <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td>
        <td><%= link_to 'Destroy', manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manufacturer', new_manufacturer_path %>
