<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer name:</strong>
  <%= @manufacturer.manufacturer_name %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @manufacturer.brand_name %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @manufacturer.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @manufacturer.street2 %>
</p>

<p>
  <strong>Post office:</strong>
  <%= @manufacturer.post_office %>
</p>

<p>
  <strong>City:</strong>
  <%= @manufacturer.city %>
</p>

<p>
  <strong>Dist:</strong>
  <%= @manufacturer.dist %>
</p>

<p>
  <strong>State:</strong>
  <%= @manufacturer.state %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @manufacturer.pin %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @manufacturer.mobile %>
</p>

<p>
  <strong>Cml no:</strong>
  <%= @manufacturer.cml_no %>
</p>

<p>
  <strong>Valid date:</strong>
  <%= @manufacturer.valid_date %>
</p>

<p>
  <strong>Operative status:</strong>
  <%= @manufacturer.operative_status %>
</p>

<p>
  <strong>Bottle 20liters:</strong>
  <%= @manufacturer.bottle_20liters %>
</p>

<p>
  <strong>Bottle 2liters:</strong>
  <%= @manufacturer.bottle_2liters %>
</p>

<p>
  <strong>Bottle 1liter:</strong>
  <%= @manufacturer.bottle_1liter %>
</p>

<p>
  <strong>Bottle 500ml:</strong>
  <%= @manufacturer.bottle_500ml %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manufacturer.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manufacturer.description %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
